<tr>
  <td class="relative py-4 pl-4 sm:pl-6 pr-3 text-sm">
    <div class="font-medium text-gray-900"><%= "#{flight.departure_airport.code} -> #{flight.arrival_airport.code}" %></div>
    <div class="mt-1 flex flex-col text-gray-500 sm:block lg:hidden">
      
      <span><%= "#{flight.duration/60} hrs" %></span>
    </div>
  </td>
  <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell"><%= flight.departure_airport.city %></td>
  <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell"><%= flight.arrival_airport.city %></td>
  <td class="hidden px-3 py-3.5 text-sm text-gray-500 lg:table-cell"><%= "#{flight.duration/60} hours" %></td>
  <td class="px-3 py-3.5 text-sm text-gray-500">
    <div class="sm:hidden"><%= flight.departure_time.strftime("%m/%d/%Y-%l:%M%P") %></div>
    <div class="hidden sm:block"><%= flight.departure_time.strftime("%m/%d/%Y - %l:%M%p") %></div>
  </td>
  <td class="relative py-3.5 pl-3 pr-4 sm:pr-6 text-right text-sm font-medium">
    <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Select<span class="sr-only">, Hobby</span></button>
  </td>
</tr>
